<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img style="border-radius: 50px;" src="/img/logo_Land.jpg" alt="FoodSpotting" height="60" width="80">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/restaurants">Restaurants</a>
          </li>
          
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">a</a></li>
              <li><a class="dropdown-item" href="#">b</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">c</a></li>
            </ul>
          </li> -->
          <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/restaurants/new">Add Restaurant</a>
          </li>
          <% } %>	
          <% if(user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
              </li>
          <% } %>
        </ul>
        <form class="d-flex" action="/restaurants/search" method="GET">
          <input class="form-control me-2" type="search" placeholder="Search" name="term" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container mt-2">
    <% if (successMessage && successMessage.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= successMessage %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <!-- <span aria-hidden="true">&times;</span> -->


        </button>
      </div>
    <% } %>
    <% if (errorMessage && errorMessage.length > 0) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= errorMessage %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          <!-- <span aria-hidden="true">&times;</span> -->
     
          
        </button>
      </div>
    <% } %>
  </div>
  